/************************
    GENERAL RULES
**************************/

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

h2 {
    color: #fff;
    margin-bottom: 15px;
}

/************************
    UTILITIES
**************************/

.wrapper {
height: 100vh;
background-color: darkcyan;
display: flex;
justify-content: center;
align-items: center;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}


/************************
    STRUCTURE
**************************/

#ticket_input {
    border-radius: 10px;
}

/************************
    DEBUG
**************************/
/* 
#ticket_input,
#ticket_info {
    min-height: 150px;
}

.row {
    border: dotted 2px rgb(255, 196, 0);
}

[class*="col"] {
    border: 1px solid;
}

 */
